.nav-link {
  color: black !important;
  &:hover {
    color: white;
    padding: 0.1;
    border-bottom: 1px solid white;
  }
}
.rounded {
  border-radius: 40px;
}
.bgWrap {
  position: relative;
  height: 100vh;
  width: auto;
  overflow: hidden;
  z-index: -1;
}
