// overriding bootsrap theme color

$primary: black;
// $primary: blue;
$primaryHover: #0a60c4;
$secondary: #0a60c4;
$color-grey: #1d1d27;
$color-light-grey: #edf0f4;
$font1: "font1";
$font-family-base: Georgia, "Times New Roman", Times, serif;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
